<div class="container p-4 bg-light">
  <div class="row">
    <div class="col">
      <app-playlists-list
        [items]="playlists"
        [selected]="selected"
        (selectedChange)="selected = $event"
      ></app-playlists-list>
    </div>

    <div class="col" *ngIf="mode === 'details'">
      <app-playlist-details
        [playlist]="selected"
        (edit)="edit()"
      ></app-playlist-details>
    </div>

    <div class="col" *ngIf="mode === 'edit'">
      <app-playlist-editor
        [playlist]="selected"
        (cancel)="cancel()"
        (save)="save($event)"
      ></app-playlist-editor>
    </div>
  </div>
</div>
