<div class="form-group mb-3">
  <label for="">Name:</label>
  <input type="text" class="form-control" [(ngModel)]="draft.name" />
  <p>{{ draft.name }}</p>
</div>

<div class="form-group mb-3">
  <label for="">Public</label>
  <input type="checkbox" [(ngModel)]="draft.public" />
  <p class="text-muted">{{ draft.public ? "Yes" : "NO" }}</p>
</div>

<div class="form-group mb-3">
  <label for="">Description:</label>
  <textarea class="form-control" [(ngModel)]="draft.description"></textarea>
</div>
<button class="btn btn-success me-3" (click)="saveClick(draft)">Save</button>
<button class="btn btn-warning" (click)="cancelClick()">Cancel</button>
